@import "../../../scss/theme.vars";

.switch{
  $height: 45px;
  $border: 1px solid $default-color;
  $duration: 500ms;
  position: relative;
  display: flex;
  width:100%;
  max-width: 307px;
  height: $height;
  margin: 19px auto;
  align-items: center;
  justify-content: space-around;
  border-radius: 100px;
  border: $border;
  color: $danger-color;
  cursor: pointer;
  z-index: 10;


  .label{
    position: relative;
    flex:2;
    text-align: center;
    font-family:inherit;
    font-weight: bold;
    letter-spacing: 0.4px;
    z-index:20;
    user-select: none;
  }


  button{
    position: absolute;
    top:0;
    width:50%;
    height: 45px;
    border-radius: 100px;
    border: solid 1px #fbfbfb;
    background: transparentize(#f9f9f9, .4);
    cursor: pointer;
    color: transparent;
    outline: none;
    box-shadow: 0 0 6px 1px transparentize(#c33333, .2);
    transition: background, box-shadow 500ms;
    user-select: none;
    z-index:15;
    &:focus{
      //TODO: get focus styles for key navigation
      border-color: #fff;
    }

  }

  &:hover{
    button{
      background: transparentize(#f9f9f9, .2);
    }
  }

  &.on{

    button{
      left: 100%;
      margin-left:-50%;
    }

    .label{
      &:first-child{
        color: $default-color;
      }

      &:last-child{
        color: inherit;
      }
    }

    &.animated{
      button{
        animation-name: triggerOn;
        animation-duration: $duration;
      }
      .label{
        &:first-child{
          animation-name: labelOn;
          animation-duration: $duration;
        }
        &:last-child{
          animation-name: labelOff;
          animation-duration: $duration;
        }
      }
    }

  }

  &.off{
    button{
      left: 0;
      margin-left: 0;
    }

    .label{
      &:first-child{
        color: inherit;
      }

      &:last-child{
        color: $default-color;
      }
    }

    &.animated{
      button{
        animation-name: triggerOff;
        animation-duration: $duration;
      }

      .label{
        &:first-child{
          animation-name: labelOff;
          animation-duration: $duration;
        }
        &:last-child{
          animation-name: labelOn;
          animation-duration: $duration;
        }
      }

    }
  }

}

.success{
  .switch{
    color: #00b093;
    button{
      box-shadow: 0 0 6px 1px transparentize(#00b093, .2);
    }
  }
}